.fixSize {
    width: 80%;
    align-self: center;
    align-items: center;
}

.spacing80 {
    margin-top: 80px;
    margin-right: 80px;
    margin-left: 80px;
    margin-bottom: 80px;
}

.spacing40 {
    margin-top: 40px;
    margin-right: 40px;
    margin-left: 40px;
    margin-bottom: 40px;
}

.spacing20 {
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}
